# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB (di docker-compose ini sudah di-override otomatis)
MONGO_URI=mongodb://root:rootpass@localhost:27017/wisata_sulsel?authSource=admin

# MinIO (object storage untuk gambar)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=wisata-sulsel

# AI - Ollama kampus
OLLAMA_BASE_URL=https://ollama.if.unismuh.ac.id
OLLAMA_MODEL=llama3
